:root {
    --loading-grey: #ededed;
  }
  
  /* body {
    background-color: #f6f6f6;
    font-family: Helvetica;
    font-size: 15px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: 100vh;
  }
   */
  .card-animasi{
    width: 400px;
    height: 618px;
    background-color: #fff;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, .12);
  }
  
  .image {
    height: 200px;
  }
  
  .image img {
    display: block;
    width: 100%;
    height: inherit;
    object-fit: cover;
  }
  
  .content {
    padding: 2rem 1.8rem;
  }
  
  h4 {
    margin: 0 0 1rem;
    font-size: 1.5rem;
    line-height: 1.5rem;
  }
  
  .description {
    font-size: 1rem;
    line-height: 1.4rem;
  }
  
  .loading .image,
  .loading h4,
  .loading .description {
    background-color: var(--loading-grey);
    background: linear-gradient(
      100deg,
      rgba(255, 255, 255, 0) 40%,
      rgba(255, 255, 255, .5) 50%,
      rgba(255, 255, 255, 0) 60%
    ) var(--loading-grey);
    background-size: 200% 100%;
    background-position-x: 180%;
    animation: 1s loading ease-in-out infinite;
  }
  
  @keyframes loading {
    to {
      background-position-x: -20%;
    }
  }
  
  .loading h4 {
    min-height: 1.6rem;
    border-radius: 4px;
    animation-delay: .05s;
  }
  
  .loading .description {
    min-height: 4rem;
    border-radius: 4px;
    animation-delay: .06s;
  }

  /* LOADING 2 */


  .small-card {
    display: flex;
    flex-direction: column;
    flex-basis: 300px;
    flex-shrink: 0;
    flex-grow: 0;
    max-width: 100%;
    background-color: #FFF;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    overflow: hidden;
    margin: 1rem;
  }
  
  .card-img {
    padding-bottom: 56.25%;
    position: relative;
  }
  .card-img img {
    position: absolute;
    width: 100%;
  }
  
  .card-body {
    padding: 1.5rem;
  }
  
  .card-title {
    font-size: 1.25rem;
    line-height: 1.33;
    font-weight: 700;
  }
  .card-title.skeleton {
    min-height: 28px;
    border-radius: 4px;
  }
  
  .card-intro {
    margin-top: 0.75rem;
    line-height: 1.5;
  }
  .card-intro.skeleton {
    min-height: 72px;
    border-radius: 4px;
  }
  
  .skeleton {
    background-color: #e2e5e7;
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
    background-size: 40px 100%;
    background-repeat: no-repeat;
    background-position: left -40px top 0;
    -webkit-animation: shine 1s ease infinite;
            animation: shine 1s ease infinite;
  }
  
  @-webkit-keyframes shine {
    to {
      background-position: right -40px top 0;
    }
  }
  
  @keyframes shine {
    to {
      background-position: right -40px top 0;
    }
  }



  /* ELLIPSIS */

  .lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background:black;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }
  

  
/* LOADING */

.loader {
  position: relative;
  width: 350px;
  height: 350px;
  border-radius: 50%;
  background: linear-gradient(#f07e6e, #84cdfa, #5ad1cd);
  animation: animate 1.2s linear infinite;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader span {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: linear-gradient(#f07e6e, #84cdfa, #5ad1cd);
}

.loader span:nth-child(1) {
  filter: blur(5px);
}

.loader span:nth-child(2) {
  filter: blur(10px);
}

.loader span:nth-child(3) {
  filter: blur(25px);
}

.loader span:nth-child(4) {
  filter: blur(50px);
}

.loader:after {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  background: #f1f1f1;
  border: solid white 10px;
  border-radius: 50%;
}

.card-loader {
  margin: 10px;
  background: #fff;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  height: 500px;
}
.card-loader .image img {
  max-width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.card-loader .content-loader {
  padding: 20px 30px;
}

.card-loader.is-loading .image,
.card-loader.is-loading h2,
.card-loader.is-loading p {
  background: #eee;
  background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
  border-radius: 5px;
  background-size: 200% 100%;
  -webkit-animation: 1.5s shine linear infinite;
  animation: 1.5s shine linear infinite;
}
.card-loader.is-loading .image {
  height: 350px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.card-loader.is-loading h2 {
  height: 30px;
}
.card-loader.is-loading p {
  height: 70px;
}

@-webkit-keyframes shine {
  to {
    background-position-x: -200%;
  }
}

@keyframes shine {
  to {
    background-position-x: -200%;
  }
}
/* END LOADING */